<html lang='pt-BR'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Redefinição de Senha</title>
  </head>
  <body
    style='height:100vh;margin:0;padding:0;background-color:#f5f5f5;font-family:Arial,sans-serif;'
  >
    <div style='display:block;padding:20px;'>
      <div
        style='background:white;border-radius:10px;padding:40px 15px;text-align:center;box-shadow:0 4px 8px rgba(0,0,0,0.1);font-family:Arial;color:#000000;display:block;min-height:400px;'
      >

        <img
          src='https://fieldasset.s3.sa-east-1.amazonaws.com/logo-fieldasset-dark-blue.png'
          alt='Field'
          style='width:180px;margin-bottom:40px;object-fit:contain;'
        />

        <h2
          style='color:#f5a623;font-weight:bold;font-size:16px;margin:20px 0;'
        >
          Redefinição de Senha
        </h2>

        <p style='font-size:14px;margin:20px 0;'>
          Olá,
          <strong>{{name}}</strong>
        </p>

        <p style='font-size:14px;margin:20px 0;'>
          Recebemos uma solicitação para redefinir sua senha de acesso.
          <br />
          Para prosseguir, clique no botão abaixo:
        </p>

        <a
          href='{{url}}/{{token}}'
          target='_blank'
          rel='noopener noreferrer'
          style='display:inline-block;background-color:#f5a623;color:white;width:250px;padding:10px 20px;border-radius:5px;text-decoration:none;border:none;cursor:pointer;font-weight:500;'
        >
          Redefinir Senha de Acesso
        </a>

        <p style='font-size:14px;margin:20px 0;margin-bottom:30px;'>
          Não solicitou essa alteração? Ignore este e-mail.
        </p>

        <p style='font-size:14px;margin:20px 0;'>
          Esse e-mail irá expirar dentro de
          <strong>15 minutos.</strong>
        </p>

        <p style='font-size:12px;color:gray;margin-top:20px;'>
          Não responda esse e-mail, em caso de dúvida entre em contato com o
          suporte.
        </p>

        <small style='font-size:12px;color:gray;display:block;margin-top:40px;'>
          Desenvolvido por
          <a
            href='https://fieldasset.com.br'
            style='color:#f5a623;text-decoration:none;'
          >Field</a>
        </small>
      </div>
    </div>
  </body>
</html>